html,
body {
  height: 100%;
  width: 100%;
}

/*removes margin which is caused by the form*/
html, body, form{
  margin:0;
  padding:0;
}

/*Full size home page background*/
.container-full-bg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url('../HomePagePics/home-cover.jpg'); 
  -webkit-filter: brightness(70%);

  /*to test, i think I can set the background from here directly.... but maybe better in html for the extra flexibility */
  /*background-image:url('http://7-themes.com/data_images/out/53/6951736-nature-road-background.jpg')*/
}

.container-full-bg .container,
.container-full-bg .container .jumbotron {
  height: 100%;
  width: 100%;
}

/*Used to centralize content on page cover*/
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 30%;
  min-width: 200px;
  max-width: 700px;
  padding: 40px;
}

.text-white {
  color: #fff;
}

.title-text {
  color: #ffffff;
  font-size: 46px;
  font-weight: bold;
  line-height: 40px;
  margin: 0;
  z-index: 9999;
}

.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar.scrolled {
    background: rgb(68, 68, 68); /*//IE*/
    background: rgba(0, 0, 0, 0.01); /*//NON-IE*/
}

/*used ruby the 6 categories*/
div.category{cursor:pointer;}
div.category:hover{ background-color:#d1d1d1;}
/*div.category:hover{ background-color:#a05300;}*/